.company-logo-container {
	-fx-border-color: #311B92;
	-fx-border-width: 0 0 4 0;
}

/***************** */
.side-menu {
	-fx-background-color: #311B92;
	/*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.65), 10, 0.5, 0.0, 0.0); */
}
.side-menu .menu-button {
    -fx-background-color: #311B92;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14;
    -fx-background-radius: 0;
    -fx-border-color: #E5E5E5;
    -fx-border-width: 1 0 0 0;
    -fx-text-alignment: LEFT;
    -fx-alignment: NONE;
    -fx-padding: 10 10 10 16;
    /*-fx-pref-width: 285;*/
}
.side-menu .menu-button .glyph-icon {
	-glyph-size: 16;
	-fx-fill: #FFFFFF;
}

.side-menu .menu-button.last-child {
	-fx-border-width: 1 0 1 0;
}
.side-menu .menu-button.active {
	-fx-background-color: #1A237E;
}

.side-menu .menu-button:hover {
	-fx-background-color: #4527A0;
}
.side-menu .menu-button:selected:focused {
	-fx-background-color: #1A237E;
}
.side-menu.collapsed {
	/*-fx-pref-width: 50px;*/
}
.side-menu.collapsed .menu-button {
	-fx-content-display: GRAPHIC_ONLY;
	/*-fx-pref-width: 50px;*/
}

/***************************** */
.title-bar {
	-fx-background-color: #FFFFFF;
	/*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.65), 10, 0.0, 0.0, 0.0); */
}

.title-bar .menu-expander {
	-fx-padding: 4 6;
	-fx-background-insets: 10px;
	-fx-background-color: transparent;
	-fx-border-color: #ccc;
}

.title-bar .menu-expander .glyph-icon {
	-glyph-size: 18;
}

/**************************************** */
.content-container {
	-fx-background-color: #FFFFFF;
}